body{
    width: 80%;
    margin:0 auto;
    background: #333;
}

ul li {
    display: inline;
    margin: 10px;
    color:white;
}

ul{
    padding-inline-start: 0px;
}

ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1,h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
    color:white;

}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:white;
}

#header{
    margin:0 auto;
    text-align: center;
    color:white;
}

select, option{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.link{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input, select{
    border-radius: 5px;
    padding: 8px;
}

#log-btn{
    padding: 8px;
}

#articles{ 
    display: flex;
}

.article{
    margin: 25px;
    padding: 10px;
    border-radius: 10px;
    width: 20%;
    flex-wrap: wrap;
    background: #444444;
}