<h1>Login</h1>

<app-form-login (formSubmit)="getUserInfo($event)"> </app-form-login>

<div id='text'></div>

<h1>News feed</h1>

<h2>Select your information source</h2>

<select *ngIf="sources" id="salle" [(ngModel)]="mediaSelected">

    <option disabled selected>Choose a media</option>
    <option *ngFor="let source of sources.sources" [value]="source.id"> {{source.name}} </option>
    
</select>

<input id="keyword" type="text" placeholder="What are you looking for ?" [(ngModel)]="keyword" />

<section>

    <button (click)="search()">Submit</button>

</section>


    <div id="articles" *ngIf="listMedias.totalResults > 0">

        <div class="article" *ngFor="let source of listMedias.articles">

            <div>

                <p><b>{{ source.title }}</b></p>

            </div>

            <div>

                <img style="width: 100%;" src="{{source.urlToImage}}" alt="{{ source.title }}">

                <div>

                    <p><i>{{ source.author }}</i></p>
                    <p>{{ source.description }}</p>
                    <a class="link" href="{{ source.url }}">See news</a>

                </div>
            </div>

        </div>

    </div>

    <div *ngIf="listMedias.totalResults == 0">

        <p>No results found </p>

    </div>